<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <input type="checkbox" id="check" />
    <!--header area start-->
    <header class="header">
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <h3>Loan <span>Manager</span></h3>
      </div>
      <div class="right_area">
        <a (click)="onLogout()" class="logout_btn" id="logout"><mat-icon>exit_to_app</mat-icon></a>
      </div>
    </header>

    <div class="sidebar">
      <ul class="dot">
        <li>
          <img src="./assets/img/admin.png" class="profile_image" alt="" />
        </li>
        <li><h4 id="admin">{{ adminname }}</h4></li>
      </ul>

      <a class="main-item" (click)="onDashboard()"
        ><i class="fas fa-desktop"></i><span>Dashboard</span></a
      >
      <a class="main-item" (click)="onCustomer()"
        ><i class="fas fa-users"></i><span>Customer</span></a
      >

      <a class="main-item" (click)="onLoans()"
        ><i class="fas fa-money-bill"></i><span>Loans</span></a
      >
      <a class="main-item" (click)="onPayments()"
        ><i class="fas fa-wallet"></i><span>Payments</span></a
      >

      <!-- <a class="main-item"
        ><i class="fas fa-book-open"></i><span>Loan Plans</span></a
      >
      <a class="main-item"
        ><i class="fas fa-list-alt"></i><span>Reports</span></a
      > -->
      <!-- <a class="main-item" (click)="(onLogout)"
        ><i class="fas fa-money-check-alt"></i><span>Logout</span></a
      > -->
    </div>
  </body>
</html>

<router-outlet></router-outlet>
