@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");
#hello {
  position: absolute;
  top: 100px;
  left: 273px;
  /* z-index: -20; */
}

.cust {
  position: absolute;
  top: 250px;
  left: 273px;
  /* z-index: -20; */
}

#data {
  background-color: #483d8b;
  color: white;
}
.card {
  border-color: white;
  border-radius: 15px;
  width: 24rem;
}
#data :hover {
  background-color: #9370db;
  border-radius: 15px;
  transition: 0.5s all ease-in-out;
  margin-top: -10px;
}

.ud-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.custContent {
  display: flex;
}
#add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  position: absolute;
  left: 1045px;
  padding-right: 10px;
  cursor: pointer;
  text-align: center;
}
#del {
  background-color: red;
  color: white;
}

#del :hover {
  color: rgb(0, 0, 0);
}

#editt :hover {
  color: rgb(255, 231, 231);
}

#add {
  color: white;
}

#add:hover {
  cursor: pointer;
  background-color: rgb(4, 192, 4);
}
.card-title {
  text-align: center;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
}
.card-text {
  font-family: "Nunito", sans-serif;
}
