<app-dashboard></app-dashboard>
<!DOCTYPE html>
<html>
  <head>
    <meta
      charset="utf-8"
      name="viewport"
      content="width=device-width, initial-scale = 1"
    />
    <!-- <title>CSS Card Flip</title> -->
    <!-- <link href="style.css" type="text/css" rel="stylesheet"> -->
  </head>

  <body>
    <div class="custContent">
      <h1>DASHBOARD</h1>
    </div>
    <hr />
   
    <div class="maincontainer" >
        <div class="front">
          <div class="image">
            <h5 class="card-title">
              <b>LOANS SANCTIONED</b>
            </h5>
            <mat-icon > local_library</mat-icon>
            <p class="card-text"><b>7 </b></p>
          </div>
        </div>
      </div>

      <div class="maincontainer" >
        <div class="front">
          <div class="image">
            <h5 class="card-title">
              <b> TOTAL CUSTOMERS</b>
            </h5>
            <mat-icon>group</mat-icon>
            <p class="card-text"><b>15 </b></p>
          </div>
        </div>
      </div>


      <div class="maincontainer" >
        <div class="front">
          <div class="image">
            <h5 class="card-title">
              <b> ACTIVE LOANS</b>
            </h5>
            <mat-icon > local_library</mat-icon>
            <p class="card-text"><b>7 </b></p>
          </div>
        </div>
      </div>
  </body>
</html>
