<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="hello">
      <h1>LOANS</h1>
      <hr />
    </div>
    <div class="cust">
      <div class="row">
        <div class="col md-4" *ngFor="let row of loandata">
          <div class="card mb-3">
            <div class="card" id="data" >
              <div class="card-body">
                <h5 class="card-title">Loan_id: {{ row.loan_id }}</h5>
                <p class="card-text">Loan Amount: {{ row.loan_amount }}</p>
                <p class="card-text">Loan Type: {{ row.loan_type }}</p>
                <p class="card-text">Interest: {{ row.interest }} %</p>
                <p class="card-text">Installments: {{ row.installments }}</p>
                <p class="card-text">Year: {{ row.year }}</p>
                <a (click)="onInfo(row)" class="eye"><mat-icon>visibility</mat-icon></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
