<div class="cust">
  <div class="custContent">
    <h1>CUSTOMER</h1>
    <a (click)="onAdd()" class="btn btn-primary" id="add"
      >ADD CUSTOMER &nbsp; <mat-icon>person_add</mat-icon></a
    >
    <hr />
  </div>
  <hr />

  <div class="row">
    <div class="col md-4" *ngFor="let row of customerdata">
      <div class="card mb-3">
        <div class="card" id="data" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">ID: {{ row.cust_id }}</h5>
            <p class="card-text">NAME: {{ row.name }}</p>
            <div class="ud-button">
              <a
                (click)="onEdit(row)"
                class="btn btn-primary btn-success"
                id="editt"
                ><mat-icon>create</mat-icon></a
              >
              <br /><br />
              <a
                (click)="onDeleteCustomer(row._id)"
                class="btn btn-primary btn-danger"
                id="del"
                ><mat-icon>delete_forever</mat-icon></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <table>
  <thead>
    <th>cust id</th>
    <th>NAME</th>
  </thead>
  <tbody>
    <tr *ngFor = 'let row of employeedata'>
      <td>{{row.cust_id}}</td>
      <td>{{row.name}}</td>
    </tr>
  </tbody>
</table> -->
