body {
  position: absolute;
  top: 85px;
  left: 273px;
}
.custContent {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

#add {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
}
#add {
  /* color: white; */
  display: flex;
  /* margin: 5px; */
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  /* display: block; */
}

#add:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.maincontainer {
  width: 390px;
  height: 299px;
  margin: 10px;
  float: left; /* stack each div horizontally */
  padding: 10px;
}

.front {
  padding: 15px;
}

.image > h5 {
  text-align: center;
  font-size: 1.8rem;
}
.image > p {
  position: relative;
  top: 50px;
  font-size: 1.2rem;
}

.back h5 {
  text-align: center;
  font-size: xx-large;
}

.ud-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.back p {
  font-size: large;
}

.front h2 {
  position: absolute;
  padding: 10px;
  top: 200px;
  color: #000;
}

/* style the maincontainer class with all child div's of class .front */
.maincontainer > .front {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(25, 114, 155, 1) 78%
  );
  color: #fff;
  position: absolute;
  transform: perspective(600px) rotateY(0deg);

  width: 373px;
  height: 290px;
  border-radius: 10px;

  backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
  transition: transform 0.5s linear 0s;
}

/* style the maincontainer class with all child div's of class .back */
.maincontainer > .back {
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
  background: #262626;
  color: #fff;
  width: 373px;
  height: 290px;
  border-radius: 10px;
  padding: 5px;
  backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
  transition: transform 0.5s linear 0s;
}

.maincontainer:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

.maincontainer:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}
.card-text {
  text-transform: capitalize;
}
